/* Navigation */
#main-nav .container {
    position: sticky;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    max-height: 30vw;
}

.logo {
    justify-self: center;
    align-items: center;
}

#main-nav .container ul {
    justify-self: center;
    align-items: center;
    padding-bottom: 1rem;
}

.social {
    display: none;
}

/* Home Article */
#home-articles .articles-container {
    grid-template-columns: none;
}



.articles-container > *:first-child ,
.articles-container > *:last-child {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: none;
}

.articles-container > *:first-child {
    grid-column: auto;
}


    /* About Page */
#about .container .about-content h1 {
    text-align: center;
    font-size: 2.5rem;
}

    /* Article Menu */
#articles .container .article-content ~ .category-menu {
    padding-right: 1.6rem;
}



/* Under 600px */
@media (max-width:600px) {
    .showcase-container {
        display: grid;
        grid-template-columns: 1fr}

    #home-articles .articles-container {
        display: flex;
        flex-direction: column;
    }
    
    /* About Page */
    #about .container {
        grid-template-columns: repeat(2 , 1fr);
        text-align: center;
        gap: 1.5rem;
    }

    #about .container .about-content h1 {
        font-size: 2rem;
    }

    #about .container .join {
        width: 100%;
        height: 100%;
        grid-column: 1 /span 2;
        justify-content: center;
        align-items: center;
    }

    #about .container .join .btn {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

    /* Article Page */
    #articles .container {
        grid-template-columns: repeat(3, 4fr);

    }

    #articles .container .article-content {
        grid-row: 1 / span 2;
        grid-column: 1 / span 3;
        text-align: center;
    }

    #articles .container .article-content h1 {
        font-size: 2rem;
    }

    #articles .container .article-content ~ .category-menu {
        grid-column: 1 / span 3;
        text-align: center;
    }

    #articles .container .article-content ~ .category-menu ul {
        display: grid;
        justify-content: center;
        align-items: center;

    }

    #articles .container .article-content ~ .category-menu li {
        padding: .55rem 4rem;

    }

    #articles .container .article-content ~ .join {
        grid-column: 1 / span 3;
        text-align: center;
    }

    /* Footer */
    #footer .container .footer-container {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: repeat(4, 1fr);
        margin-bottom: 0;
        gap: 0;
        padding-right: 1rem;
    }

}